{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form action='/todos' method='post'>
        <label for='title'>
            Title for your New Blog:</label>
            <input type="text" name='title' value="{{task_title}}" />
            {% if title_error %}
                <span class='error'>{{title_error}}</span>
            {% endif %}
        <br>
        <label for ='blog_content'>Your New Blog:</label>
            <textarea type="text" name='blog_content' rows='7' cols='25'></textarea> 
                {% if blog_content_error %}
                    <span  class ='error'>{{ blog_content_error}}</span>
                {% endif %}
        
        <input type="submit" value='Add Task' />
    </form>

    <hr />
    

    
    {% endblock %}